* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
  font: 14px;
}

header, footer{
  padding: 0 24px;
}

nav.top, footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.top .left a,
nav.top .right a{
  margin-right: 24px;
}

svg{
  width: 50px;
}

.container{
  width: 1200px;
  margin: 0 auto;
}